body{
    font-family: sans-serif;
    /*background-color: rgb(171, 164, 164);*//*en proceso*/
   
    margin: 0px;
}
body{
    background-color:black(206, 242, 248);
}
header  {
    display: flex;
    background-color: #85c1e9;
    color: #000000;
    padding-top: 5px;
    min-height: 7px;
    border-bottom: 15px solid black;
    justify-content: space-between
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;

}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    
}

header #marca {
    float: left;
    font-size:45PX
    

}

header #marca h1 {
    margin: 0px;
    float: right;
    
}
header #sub h2 {
    margin: 0px;
    float: right;
}


header.resultado,
header.actual a {
    color: #5dade2;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
}

header nav {
    float: right;
    margin-top: 10px;
}

