body{
    font-family: sans-serif;
    /*background-color: rgb(171, 164, 164);*//*en proceso*/
   
    margin: 0px;
}
body{
    background-color:black(206, 242, 248);
}
header  {
    display: flex;
    background-color: #46a2f2;
    color: #000000;
    padding-top: 5px;
    min-height: 7px;
    border-bottom: 15px solid black;
    justify-content: space-between
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;

}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    
}

header #marca {
    float: left;
    font-size:45PX
    

}

header #marca h1 {
    margin: 0px;
    float: right;
    
}
header #sub h2 {
    margin: 0px;
    float: right;
}


header.resultado,
header.actual a {
    color: #5dade2;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
}

header nav {
    float: right;
    margin-top: 10px;
}
#marca{
    font-size: 45x;
}


#section1{
    display: flex;
    margin-top: 60px;
    justify-content: center;
}
#section a{
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 60px;
    margin-right: 50px;
    transition: 0,5s;
}
#section1 a:hover {
    color:#d7bde2 ;
    padding: 8px;
    border-radius: 9px;
    border: solid 2px black;
    transition: 0.5s;
}
#section2{
    background-color:#85c1e9;
    margin: 0 auto;
    text-align: center;
    height: 350px;
    width: 400px;
    border-radius: 9px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.699);
}
#section2 h1{
    text-align: center;
    padding-top: 50px;
}
#section2 a:hover{
    color: beige;
    
}
#section3 a:hover {
    color:#d7bde2 ;
    padding: 8px;
    border-radius: 9px;
    border: solid 2px black;
    transition: 0.5s;
}
#section4 a:hover {
    color:#d7bde2 ;
    padding: 8px;
    border-radius: 9px;
    border: solid 2px black;
    transition: 0.5s;
}
body{
    font-family: sans-serif;
    /*background-color: rgb(171, 164, 164);*//*en proceso*/
    color: beige;
    margin: 0px;
    
    
}
input{
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 9px;
}
#boton{
    margin-top: 10px;
    margin-bottom: 35px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
#boton:hover{
    background-color: gray;
    border-radius: 9px;
    transition: 0.3s;
}
#section3 a{
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px; 
}

.footer-links a {
    color: #85c1e9;
    text-decoration: none;
}

.footer-links a:hover {
    color: #00a2ff;
    text-decoration: underline;
}

.footer-infor {
    margin-top: 10px;
}
